.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.footer {
  background-color: #D1C4E9;
  margin: 0px auto;
  padding: 20px 0px;
}
.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #272B2E;;
  color: floralwhite;
}
address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}
body {

  padding: 50px 0px 0px 0px;
  z-index: 0;
}
.navbar-inverse {
  background-color: #1E2223;
}
.nav-item {
  font-size: 22px;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.carousel {
  background: #512DA8;
}
.carousel .carousel-item {
  height: 300px;
}
.carousel .carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}
#carousel-button {
  right: 0px;
  position: absolute;
  bottom: 0px;
}

body {
  background: #262A2C;;
  padding: 0px;
  margin: 0px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

input, button {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.main-div, .loggedin-div {
  width: 20%;
  margin: 0px auto;
  margin-top: 0px;
  padding: 20px;
  display: none;
}

.main-div input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  width: 100%;
  outline: none;
  margin-bottom: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div input:focus {
  border: 1px solid #777;
}

.main-div button, .loggedin-div button {
  background: #5d8ffc;
  color: #fff;
  border: 1px solid #5d8ffc;
  border-radius: 5px;
  padding: 15px;
  display: block;
  margin-bottom: 10px;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div button:hover, .loggedin-div button:hover {
  background: #fff;
  color: #5d8ffc;
  border: 1px solid #5d8ffc;
  cursor: pointer;
}
.list-item {
  padding: 20px;
  background: #fff;
  margin: 0px;
  box-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  margin-bottom: 10px;
  width: 60%;

}
.list-item h3{
  padding: 0 px;
  margin: 0px;
  font-size: 16px;
}
.user_div button{
  background: #5d8ffc;
  color: #fff;
  float: right;
  border: 1px solid #5d8ffc;
  border-radius: 5px;
  padding: 15px;
  display: block;
  margin-bottom: 5px;
  width: 10%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;

}
.main-div button:hover{
  background: #fff;
  color: #5d8ffc;
  border: 1px solid #5d8ffc;
  cursor: pointer;

}
.Textarea{
  background: #fff;
  width: 30%;
  margin-left: 450px;
  margin-top: 150px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;

}
.main-list{
  float: center;
  margin-left: 400px;

}
#user_para{
  size:50% 
}